// color
$color-white:#fff;
$color-black:#000;
$color-green:#00b900;
$color-primary:#0606e2b0;
$color-info:#0000d8;

$color-gray-light-1:#f7f7f7;
$color-gray-light-2:#eee;
$color-gray-dark-1:#777;
$color-gray-dark-2:#999;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
$color-green-light:#00b900;
$color-green-dark:#008d00;
// $color-secondary-light:#ffb900;
// $color-secondary-light:#ff7730;

// Font size
$default-font-size:1.6rem;

// grid
$grid-width:100rem;
$gutter-vertical:8rem;
$gutter-horizontal:2rem;