// About section
.composition{
    position: relative;
    &_photo{
        cursor: pointer;
        box-shadow: 0 1.5rem 4rem rgba($color-black,0.4);
        width: 55%;
        position: absolute;
        border-radius: 2px;
        z-index: 10;
        // transform: all .3s;
        transition: transform .3s;
        outline-offset: 2rem;

    &_p1{
    left: 0;
    top: -2rem;
    }
    &_p2{
    right: 0;
    top: 2rem;
    }
    &_p3{
    left: 20%;
    top: 10rem;
    }
    &:hover{
        // outline: 1.5rem solid $color-primary;
        transform: scale(1.05);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 20;
        // animation-delay: .15s;
    }
    }
}