.u-center-text{
    text-align: center;
}
.margin-bottom-small{
    margin-bottom: 1.6rem;
}
.margin-bottom-medium{
    margin-bottom: 3rem;
}
.margin-bottom-big{
    margin-bottom: 8rem;
}
.margin-top-huge{
    margin-bottom: 10rem;
}